{% block footer %}
<footer class="mt-5 bg-dark text-light">
    <div class="footer-top ">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 segment-one mt-4">
              <h3 style="font-family: Courgette;">Indigo Store</h3>
              <p style="color: #999;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consectetur incidunt, modi vitae 
                facere tenetur consequatur ipsam maxime quasi quam amet expedita cumque doloremque iste dolore 
                maiores pariatur ipsum exercitationem.</p>     
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-two mt-4">
              <h2 style="size: 18px;">Divinector</h2>
                <ul>
                  <li  style="color: #999;"><a href="#"></a>Event</li>
                  <li style="color: #999;" ><a href="#"></a>Support</li>
                  <li style="color: #999;" ><a href="#"></a>Hosting</li>
                  <li style="color: #999;" ><a href="#"></a>Career</li>
                  <li style="color: #999;" ><a href="#"></a>Blog</li>
                </ul>
                </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-three mt-4">
                  <h2 style="size: 18px;" >Follow Us</h2>
                  <p style="color: #999;">Please Follow us on our Social Media Profile in order to keep updated.</p>
                  <a target="_blank" href="https://www.facebook.com/Indigo-Store-110288244560194"><i class="fab fa-facebook mx-4 fs-2 text-light"></i></a>
                  <a target="_blank" href="https://twitter.com/IndigoStore1"><i class="fab fa-twitter mx-4 fs-2 text-light"></i></a>
                  <a target="_blank" href="https://www.instagram.com/indig0.store/"><i class="fab fa-instagram mx-4 fs-2 text-light"></i></a>
          </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-four mt-4">
          <h2 style="size: 18px;">Our Newletter</h2>
          <p style="color: #999;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Consequuntur unde tenetur eos reprehenderit consequatur. Deleniti fugit, cum, magnam ipsam perspiciatis tempora cumque ullam minus temporibus, quasi numquam aperiam recusandae qui!</p>
        </div> 
        </div>
        </div>
      </div>
</footer>
{% endblock footer %}